/* Cheng-Hsin */

#content a {
  background-color: transparent;
  color: #666;
  text-decoration: none;
}

#content a.error-link {
  color: #FFF;
  font-size: 1.5em;
  border-bottom: solid 1px #FFF;
}

#content a.error-link:hover {
  background-color: #000;
  border-bottom: none;
}


#event h2, #contact h2 {
  margin-bottom: 5px;
}

#event h2 a:hover, #contact h2 a:hover{
  text-decoration: underline !important;
}

.create:hover {
  text-decoration: underline !important;
}

.link-to-more {
  text-align: right;
  padding-right: 5px;
  padding-top: 20px;
}

#event .link-to-more a {
  color: #555522;
}

#contact .link-to-more a {
  color: #333366;
}

.link-to-more a:hover {
   text-decoration: underline !important;
}

#event {
  margin: 5px 30px 5px 60px;
  width: 375px;
  float: left;
  color: #555522;
}

#event h2 a {
  color: #555522;
  text-decoration: none;
}

#event ul a {
  color: #555522;
  text-decoration: none;
  display: block

}

#event ul a:hover {
  font-weight: bold;
  background-color: transparent;
}

#event ul {
  clear: both;
  margin-top: 3px;

}

#event ul+ul {
  border-top: solid 1px #999;

}


#event li {
  float: left;
  width: 290px;
}

#event li span {
  display: inline-block;
  width: 80px;
  height: 1.2em;
}

#contact {
  margin: 5px 20px 5px 0px;
  width: 345px;
  float: left;
  color: #333366;
}

#contact h2 a {
  color: #333366;
  text-decoration: none;
}

#contact ul a {
  color: #333366;
  text-decoration: none;
  display: block;

}

#contact ul a:hover {
  font-weight: bold;
  background-color: transparent;
}


#contact ul {
  clear: both;
  margin-top: 3px;
}

#contact ul+ul {
  border-top: solid 1px #999;
}



#contact li {
  width: 260px;
  float: left;
}

#contact li span {
  display: inline-block;
  width: 50px;
  height: 1.2em;
  float: right;
  margin-right: 5px;
}

#contact .edit, #event .edit {
  width: 40px;
}

#contact .delete, #event .delete {
  width: 40px;
}

/*  */

