<h1>about</h1>
<p>Welcome to <b>mail minder</b>. You can use this app to schedule time-delayed email from your own web-based email account for just about any purpose. To help spark your imagination, here are some examples that our millions of customers have provided us:</p>

<div id="about-list">
	<ul>
		<li>Businesses that send out seasonal coupons</li>
		<li>Political campaigns that remind citizens to get out and vote the day of or before the election</li>
		<li>Managers and organizers who set up the reminder email for an event at the same time as the original invitation</li>
	</ul>
</div>

<p>As you can see, the uses of this app are virtually limitless. If you know you're going to need to send an email on a specific date, why wait until that day, when you may forget or not have time? Use our app to schedule your emails, and consider them as good as sent&#151;in the future.</p>