<h1>Welcome to Use Email Scheduling App</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1>Events</h1>
<% @events.each do |event| %>
<div class="event" >
  <ul>
    <li><%= event.name %></li>
    <li><%= event.time %></li>
  </ul>
</div>
<% end %>

